.whole {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#head {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(35, 2, 66, 0.938);
    color: white;
    height: 100px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 1px;
}

.total {
    display: flex;
   flex-direction: row;
   padding: 10px;
   margin: 5px 0;
   font-size: 20px;
    
}
.first {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;
    background-color: rgb(0, 162, 255);
    /* height: 300px; */
    margin-right: 10px;
    align-items: start;
}

#second {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 2;

    background-color: rgb(0, 162, 255);
    /* height: 300px; */
    
    margin-right: 10px;
}

#last {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 162, 255);
    flex-grow: 4;

    /* height:300px; */
     /* padding: 10px;
    margin: 10px; */
    text-align: justify;
    
}
.button {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(235, 229, 229);
    padding: 10px 25px;
    justify-content: space-evenly;
    margin: 5px 15px;  
         
    /* 1st one top and bottom and 2nd one left and right */ 
}
.box1{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    padding:15px 5px;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.box2{
    background-color: rgb(240, 222, 222);
    padding:0 50px;
    /* margin: 5px; */
    width: 60%;
    margin-left: 70px;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;

}



p{
    margin: 10px;
}